apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
    openshift.io/cluster-monitoring: "true"
    kubernetes.io/metadata.name: node-check-operator-system
    security.openshift.io/scc.podSecurityLabelSync: 'true'
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn-version: latest
    pod-security.kubernetes.io/audit-version: latest
  annotations:
    security.openshift.io/MinimallySufficientPodSecurityStandard: privileged    
  name: node-check-operator-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    control-plane: controller-manager
  name: node-check-operator-controller-manager
  namespace: node-check-operator-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: node-check-operator-controller-manager-privileged
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:privileged
subjects:
- kind: ServiceAccount
  name: node-check-operator-controller-manager
  namespace: node-check-operator-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: controller-manager
  name: node-check-operator-controller-manager
  namespace: node-check-operator-system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      volumes:
      - name: dashboard-tls
        secret:
          secretName: node-check-operator-dashboard-tls
          optional: true
      containers:
      - args:
        - --mode=operator
        - --leader-elect=true
        command:
        - /manager
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: OPERATOR_IMAGE
          value: quay.io/rh_ee_afilice/node-check-operator:v1.0.8
        - name: CONSOLE_PLUGIN_IMAGE
          value: quay.io/rh_ee_afilice/node-check-operator-console-plugin:v1.0.8
        - name: ENABLE_OPENSHIFT_FEATURES
          value: "true"
        image: quay.io/rh_ee_afilice/node-check-operator:v1.0.8
        name: manager
        volumeMounts:
        - name: dashboard-tls
          mountPath: /etc/tls
          readOnly: true
        ports:
        - containerPort: 31680
          name: metrics
          protocol: TCP
        - containerPort: 31681
          name: health
          protocol: TCP
        - containerPort: 31682
          name: dashboard
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          runAsNonRoot: false
          runAsUser: 0
      securityContext:
        runAsNonRoot: false
      serviceAccountName: node-check-operator-controller-manager
      terminationGracePeriodSeconds: 10
