apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: node-check-operator-manager-role
rules:
{{- range .Values.clusterRoleExtraRules | default list }}
# placeholder for user overrides
{{- end }}
- apiGroups:
  - nodecheck.openshift.io
  resources:
  - nodechecks
  verbs: ["create","delete","get","list","patch","update","watch"]
- apiGroups:
  - nodecheck.openshift.io
  resources:
  - nodechecks/finalizers
  verbs: ["update"]
- apiGroups:
  - nodecheck.openshift.io
  resources:
  - nodechecks/status
  verbs: ["get","patch","update","watch"]
- apiGroups: [""]
  resources: ["endpoints"]
  verbs: ["get","list","watch"]
- apiGroups: [""]
  resources: ["persistentvolumes"]
  verbs: ["get","list","watch"]
- apiGroups: ["discovery.k8s.io"]
  resources: ["endpointslices"]
  verbs: ["get","list","watch"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["get","list","watch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get","list","watch"]
- apiGroups: [""]
  resources: ["resourcequotas"]
  verbs: ["get","list","watch"]
- apiGroups: [""]
  resources: ["services"]
  verbs: ["create","delete","get","list","patch","update","watch"]
- apiGroups: ["coordination.k8s.io"]
  resources: ["leases"]
  verbs: ["create","get","list","update","patch","watch"]
- apiGroups: ["config.openshift.io"]
  resources: ["clusteroperators"]
  verbs: ["get","list","watch"]
- apiGroups: ["apps"]
  resources: ["deployments","daemonsets"]
  verbs: ["create","delete","get","list","patch","update","watch"]
- apiGroups: ["console.openshift.io"]
  resources: ["consoleplugins"]
  verbs: ["create","delete","get","list","patch","update","watch"]
- apiGroups: [""]
  resources: ["namespaces"]
  verbs: ["get","list","watch","patch","update"]
- apiGroups: ["monitoring.coreos.com"]
  resources: ["servicemonitors","prometheusrules"]
  verbs: ["create","delete","get","list","patch","update","watch"]
- apiGroups: ["policy"]
  resources: ["poddisruptionbudgets"]
  verbs: ["get","list","watch"]
- apiGroups: ["metrics.k8s.io"]
  resources: ["nodes"]
  verbs: ["get","list","watch"]

