apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-check-operator-controller-manager
  namespace: {{ .Values.namespace.name }}
  labels:
    control-plane: controller-manager
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      serviceAccountName: node-check-operator-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
        - name: dashboard-tls
          secret:
            secretName: node-check-operator-dashboard-tls
            optional: true
      containers:
        - name: manager
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/manager"]
          args:
            - --mode=operator
            - --leader-elect=true
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_IMAGE
              value: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            - name: CONSOLE_PLUGIN_IMAGE
              value: "{{ .Values.consolePluginImage.repository }}:{{ .Values.consolePluginImage.tag }}"
            - name: ENABLE_OPENSHIFT_FEATURES
              value: "{{ .Values.enableOpenShiftFeatures }}"
          ports:
            - name: metrics
              containerPort: 8080
            - name: health
              containerPort: 8081
            - name: dashboard
              containerPort: 8082
          volumeMounts:
            - name: dashboard-tls
              mountPath: /etc/tls
              readOnly: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            runAsNonRoot: false
            runAsUser: 0
      securityContext:
        runAsNonRoot: false
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}

