{{- /*
Bind the controller manager ServiceAccount to the privileged SCC.
This replicates the `oc adm policy add-scc-to-user privileged -z <sa>` command.
*/ -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: node-check-operator-privileged-scc
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: node-check-operator
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:privileged
subjects:
  - kind: ServiceAccount
    name: node-check-operator-controller-manager
    namespace: {{ .Values.namespace.name }}

